@font-face {
    font-family: pixelFont;
    src: url(fonts/DTM-Mono.otf);
}

body {
    font-family: pixelFont;
    text-align: center;
    padding: 50px;
    color: #0e0024;

    background-image: url("img/pixelated_background.png");
    background-repeat: no-repeat;
    background-color: #8300cf;
    background-position: top;
    background-size: cover;
}
